<%= form_for @user do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.label :height %><br>
  <%= f.number_field :height %><br>
  <%= f.label :happiness %><br>
  <%= f.number_field :happiness %><br>
  <%= f.label :nausea %><br>
  <%= f.number_field :nausea %><br>
  <%= f.label :tickets, 'How much money is in your pocket?' %><br>
  <%= f.number_field :tickets %><br><br />
  <p>
    Check box if you are an amusement park owner:
    <%= f.check_box :admin %><br>
  </p>
  <%= f.label :password %><br>
  <%= f.text_field :password %><br><br />
  <%= f.submit "Create User" %>

<% end %>
